@font-face {
  font-family: 'Plainwalker';
  src: url('../font/planewalker/Planewalker.otf') format('opentype');
}
@keyframes bannermotion{
  0%    {background-size: 120%; background-position: bottom center;}
  50%   {background-size: 120%; background-position: top center;}
  100%  {background-size: 120%; background-position: bottom center;}
}
html {
  margin: 0;
  padding: 0;
}

header{
  padding: 20px;
  width: 100%;
  height: 250px;
  background-image: url("../img/wallpapers/tamrielheroes1.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  background-position: relative;
  animation-name: bannermotion;
  animation-duration: 120s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
}
body {
  height: 1000px;
  margin-top: 0px;
  padding: 0px;
  background-color: #000000;
}
.header-options {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  margin: 0 auto;
  width: 100%;
  height: 75%;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
}
.subhead{
  width:100%;
  height: 50px;
  background-image: url("../img/misc/navbar_banner_greydient.png");
  background-repeat:repeat-x;
  background-position: center;
  background-size: 5%;
}
.scrolltext{
  display: inline-block;
  margin-top: 10px;
  color:#ffffff;
}

.mmx{
  margin:0 auto;
  width:150px;
  height:150px;
  background-image: url("../img/misc/MMXLogo.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 1.0);
  transform:translateY(40%);
  border-radius: 50%;
  background-size: 80%;
  font-family: 'Plainwalker';
  color:#ffffff;
}

.column-mid {
  float: left;
  width: 25%;
  height: 150%;
  transform: translateY(-8%);
  background-image: url("../img/misc/ouroboros.jpg");
  background-position: center;
  background-size: 62%;
  background-color: rgba(0, 0, 0, 0.0);
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 1.0;
  filter: alpha(opacity=10);
  text-align: center;
}

.column-left, .column-right {
  float: left;
  width: 40%;
  height: 125%;
  transform: translateY(5%);
  background-color: rgba(0, 0, 0, 0.0);
}

.menu-list {
  padding: 1px;
  width:   50%;
  height:  30%;
  background-color: rgba(0, 0, 0, 1.0);
  background-repeat: no-repeat;
  border-radius: 50%;
  font-family: 'Plainwalker';
  font-size: 22px;
}

.menu-left {
  float: right;
  text-align: right;
  background-position: right;
}

.menu-right {
  float: left;
  text-align: left;
  background-position: left;
}

#mainmenu { background-image: url("../img/icons/class/dragonknight_icon.png"); }
#builds   { background-image: url("../img/icons/class/sorcerer_icon.png"); }
#crafting { background-image: url("../img/icons/class/templar_icon.png"); }
#recipe   { background-image: url("../img/icons/class/nightblade_icon.png"); }
#maps     { background-image: url("../img/icons/class/warden_icon.png"); }
#notes    { background-image: url("../img/icons/class/necromancer_icon.png"); }

.greybar  {
  width:100px;
  height: 50px;
  margin: 0 auto;
}

.main-body{
  width: 90%;
  height: 750px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-columns {
  width: 30%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("../img/wallpapers/eso_ouroboros.jpg");
  background-repeat: no-repeat;
  background-size: 325%;
  filter: opacity(100%);
}

#main-left { background-position: left; }
#main-right { background-position: right; }
#main-mid { background-position: center; }

.overlay{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}
